baidu-map{
    width: 100%;
    height: 610px;
    display: block;
}
.blueborder{
    padding: 10px;
    border-right: #00b3ee 30px solid;
    margin: 0px 20px 20px 20px;
    background: #e5e5e5;
    height: 190px;
}
.blueborder div{
    margin-bottom: 18px;
}
.greenborder{
    padding: 10px;
    border-right: #5cb85c 30px solid;
    margin: 0px 20px 20px 20px;
    background: #e5e5e5;
    height: 190px;
}
.greenborder div{
    margin-bottom: 18px;
}
.redborder{
    padding: 10px;
    border-right: #d9534f 30px solid;
    margin: 0px 20px 20px 20px;
    background: #e5e5e5;
    height: 190px;
}
.redborder div{
    margin-bottom: 18px;
}
