<div [@routerTransition]>
    <app-page-header [heading]="'用户管理'" [icon]="'fa-edit'"></app-page-header>

    <div content="main-content container">
        <div class="query-section row breadcrumb mx-xl-0">
            <div class="col-9">
                <div class="row mb-3">
                    <div class="col-4">
                        <div class="row">
                            <label for="user-id-input" class="col-4 col-form-label">用户ID</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="user-id-input" [(ngModel)]="queryModel.account" name="queryModel.account">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="user-name-input" class="col-4 col-form-label">用户名</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="user-name-input" [(ngModel)]="queryModel.name" name="queryModel.name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <label for="real-name-input" class="col-4 col-form-label">真实姓名</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="real-name-input" [(ngModel)]="queryModel.realname" name="queryModel.realname">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="phone-number-input" class="col-4 col-form-label">手机号</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="phone-number-input" [(ngModel)]="queryModel.phone" name="queryModel.phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="state-input" class="col-4 col-form-label">锁定状态</label>
                            <div class="col-8">
                                <select id="state-input" [(ngModel)]="queryModel.lockstate" class="form-control">
                                    <option value="">请选择</option>
                                    <option value=true>正常</option>
                                    <option value=false>锁定</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" (click)="refreshGrid()">查询</button>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" (click)="blankGrid()">重置</button>
                    </div>
                </div>
            </div>

        </div>

        <app-datagrid [config]="config"></app-datagrid>
    </div>
</div>
