<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}设备</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="submitForm" #submitForm="ngForm">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.pilename">设备名称</label>
            <div class="col-4">
                <input [(ngModel)] = 'editModel.pilename' name="editModel.pilename"  class="form-control" id="editModel.pilename">
            </div>
            <label class="col-2 col-form-label" for="editModel.type">设备型号</label>
            <div class="col-4">
                <input [(ngModel)] = 'editModel.type' name="editModel.type"  class="form-control" id="editModel.type">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.pileid">设备ID</label>
            <div class="col-4">
                <input [(ngModel)] = 'editModel.pileid' name="editModel.pileid"  class="form-control" id="editModel.pileid">
            </div>
            <label class="col-2 col-form-label" for="siteid">站点ID</label>
            <div class="col-4">
                <input [(ngModel)] = 'editModel.siteid' type="number" name="editModel.siteid"  class="form-control" id="siteid">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.powertype">电源类型</label>
            <div class="col-4">
                <select class="form-control" [(ngModel)] = 'editModel.powertype' name="editModel.powertype" id="editModel.powertype">
                    <option value="1">直流电</option>
                    <option value="2">交流电</option>
                </select>
            </div>
            <label class="col-2 col-form-label" for="editModel.v">电压</label>
            <div class="col-4">
                <input type="number" [(ngModel)] = 'editModel.v' name="editModel.v"  class="form-control" id="editModel.v">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.i">电流</label>
            <div class="col-4">
                <input type="number" [(ngModel)] = 'editModel.i' name="editModel.i"  class="form-control" id="editModel.i">
            </div>
            <label class="col-2 col-form-label" for="editModel.p">功率</label>
            <div class="col-4">
                <input type="number" [(ngModel)] = 'editModel.p' name="editModel.p"  class="form-control" id="editModel.p">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.interfacetype">接口类型</label>
            <div class="col-4">
                <select class="form-control" [(ngModel)] = 'editModel.interfacetype' name="editModel.interfacetype" id="editModel.interfacetype">
                    <option value="1">X接口</option>
                    <option value="2">Y接口</option>
                </select>
            </div>
            <label class="col-2 col-form-label" for="editModel.interfacestatard">接口标准</label>
            <div class="col-4">
                <input [(ngModel)] = 'editModel.interfacestatard' name="editModel.interfacestatard"  class="form-control" id="editModel.interfacestatard">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="programid">程序ID</label>
            <div class="col-4">
                <input [(ngModel)] = 'editModel.programid' type="number" name="editModel.programid"  class="form-control" id="programid">
            </div>
            <label class="col-2 col-form-label" for="factoryid">厂商ID</label>
            <div class="col-4">
                <input [(ngModel)] = 'editModel.factoryid' type="number" name="editModel.factoryid"  class="form-control" id="factoryid">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.remarks">设备备注</label>
            <div class="col-10">
                <textarea [(ngModel)] = 'editModel.remarks' name="editModel.remarks"  class="form-control" id="editModel.remarks">
                </textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.position">地址信息</label>
            <div class="col-10">
                <textarea [(ngModel)] = 'editModel.position' name="editModel.position"  class="form-control" id="editModel.position">
                </textarea>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">关闭</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">确认</button>
</div>
