<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}运营商</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <!--<div class="form-group">-->
            <!--<label for="editModel.name">角色名称</label>-->
            <!--<input [(ngModel)] = 'editModel.name' id="editModel.name" name="editModel.name" type="email" class="form-control">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="editModel.desc">角色描述</label>-->
            <!--<textarea [(ngModel)] = 'editModel.desc' id="editModel.desc" name="editModel.desc" class="form-control">-->
            <!--</textarea>-->
        <!--</div>-->
        <div class="form-group row">
            <label class="col-2 col-form-label">运营商ID</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.operatorid' name="editModel.operatorid" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">运营商名称</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.operatorname' name="editModel.operatorname" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">联系人</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.contactor' name="editModel.contactor" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">手机号</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.phone' name="editModel.phone" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">锁定状态</label>
            <div class="col-10">
                <select [(ngModel)] = 'editModel.state' name="editModel.state" class="form-control">
                    <option value="">请选择</option>
                    <option value="1">正常</option>
                    <option value="2">锁定</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">备注信息</label>
            <div class="col-10">
                <textarea [(ngModel)] = 'editModel.remark' name="editModel.remark" class="form-control">
                </textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">关闭</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">确认</button>
</div>
