<div [@routerTransition] content="main-section">
    <app-page-header [heading]="'充电桩程序库'" [icon]="'fa-table'"></app-page-header>

    <div content="main-content container">
        <div class="query-section row breadcrumb no-gutters">
            <div class="col-3">
                <div class="row">
                    <label for="programname" class="col-4 col-form-label">程序名称</label>
                    <div class="col-8">
                        <input class="form-control" type="text" id="programname" [(ngModel)]="queryModel.programname" name="queryModel.programname">
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" (click)="refreshGrid()">查询</button>
                    </div>
                </div>
            </div>

        </div>


        <app-datagrid [config]="config"></app-datagrid>
    </div>
</div>
