<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}程序</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form  name="submitForm" #submitForm="ngForm">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="programname">程序名称</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.programname' name="editModel.programname" class="form-control" id="programname" validationMsg required maxlength="50">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="version">版本号</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.version' name="editModel.version" class="form-control" id="version" validationMsg required maxlength="50">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">关闭</button>
    <button type="button" class="btn btn-primary btn-submit" (click)="confirm()">确认</button>
</div>
