<div (click)="outerClick($event)" >
    <div class="row big-screen">
        <div class="col-2">
            <div>
                <div>今日充电次数</div>
                <div style="display: block; height: 30vh" *ngIf="timesChart[0].data">
                    <canvas baseChart style="width: 100%;"
                            [datasets]="timesChart"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            [colors]="timesChartColors"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div>
                <div>今日用户数</div>
                <div style="display: block; height: 30vh" *ngIf="userChart[0].data">
                    <canvas baseChart  style="width: 100%;"
                            [datasets]="userChart"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            [colors]="userChartColors"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div>
                <div>今日故障数</div>
                <div style="display: block; height: 30vh" *ngIf="errorChart[0].data">
                    <canvas baseChart style="width: 100%;"
                            [datasets]="errorChart"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            [colors]="errorChartColors"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="monitor-map" echarts [options]="chartOption" (chartInit)="onChartInit($event)" (chartClick)="onChartClick($event)">
            </div>
        </div>
        <div class="col-3">
            <div>今日充电量</div>
            <div class="number">
                <span style="font-size: 100px">{{chartsModel.todayamount}}</span>
            </div>
            <div>今日在线桩数</div>
            <div style="display: block; margin-bottom: 5vh" *ngIf="doughnutChartData[0] || doughnutChartData[1]">
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="align-center">
                <div>空闲：直流：{{chartsModel.freeDC}} 交流：{{chartsModel.freeAC}}</div>
                <div>使用：直流：{{chartsModel.useDC}} 交流：{{chartsModel.useAC}}</div>
                <div>在建：直流：{{chartsModel.buildDC}} 交流：{{chartsModel.buildAC}}</div>
                <div>外接：直流：{{chartsModel.outDC}} 交流：{{chartsModel.outAC}}</div>
                <div>故障：直流：{{chartsModel.errorDC}} 交流：{{chartsModel.errorAC}}</div>
            </div>
        </div>
    </div>
</div>
