<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}细则</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group row">
            <label for="price-text-input" class="col-2 col-form-label">电价</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.price' id="price-text-input" name="editModel.price" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="servicecharge-text-input" class="col-2 col-form-label">服务费</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.servicecharge' id="servicecharge-text-input" name="editModel.servicecharge" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="starttime-text-input" class="col-2 col-form-label">开始时间</label>
            <div class="col-10">
                <input type="date" [(ngModel)] = 'editModel.starttime' id="starttime-text-input" name="editModel.starttime" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="endtime-text-input" class="col-2 col-form-label">结束时间</label>
            <div class="col-10">
                <input type="date" [(ngModel)] = 'editModel.endtime' id="endtime-text-input" name="editModel.endtime" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">关闭</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">确认</button>
</div>
