<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="submitForm" #submitForm="ngForm">
        <div class="form-group row">
            <label for="rulename-text-input" class="col-2 col-form-label">规则名称</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.rulename' id="rulename-text-input" name="editModel.rulename" class="form-control" validationMsg required>
            </div>
        </div>
        <div class="form-group row">
            <label for="ruletype-select-input" class="col-2 col-form-label">类别</label>
            <div class="col-10">
                <select [(ngModel)] = 'editModel.ruletype' id="ruletype-select-input" name="editModel.ruletype" class="form-control" validationMsg>
                    <option value="">请选择</option>
                    <option value="正常">正常</option>
                    <option value="锁定">锁定</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="version-text-input" class="col-2 col-form-label">版本号</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.version' id="version-text-input" name="editModel.version" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="usersate-select-input" class="col-2 col-form-label">使用标志</label>
            <div class="col-10">
                <select [(ngModel)] = 'editModel.usersate' id="usersate-select-input" name="editModel.usersate" class="form-control">
                    <option value="">请选择</option>
                    <option value="true">正常</option>
                    <option value="false">锁定</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="starttime-text-input" class="col-2 col-form-label">开始时间</label>
            <div class="col-10">
                <input type="date" [(ngModel)] = 'editModel.starttime' id="starttime-text-input" name="editModel.starttime" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="endtime-text-input" class="col-2 col-form-label">结束时间</label>
            <div class="col-10">
                <input type="date" [(ngModel)] = 'editModel.endtime' id="endtime-text-input" name="editModel.endtime" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">关闭</button>
    <button type="button" class="btn btn-primary btn-submit" (click)="confirm()">确认</button>
</div>
