<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}文章</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group row">
            <label for="firsttitle-select-input" class="col-2 col-form-label">一级标题</label>
            <div class="col-10">
                <select [(ngModel)] = 'editModel.firsttitle' id="firsttitle-select-input" name="editModel.firsttitle" class="form-control">
                    <option value="Default">请选择</option>
                    <option value="充电站帮助">充电站帮助</option>
                    <option value="官方联系方式">官方联系方式</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="secondtitle-text-input" class="col-2 col-form-label">二级标题</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.secondtitle' id="secondtitle-text-input" name="editModel.secondtitle" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="isdisplay-select-input" class="col-2 col-form-label">是否显示</label>
            <div class="col-10">
                <select [(ngModel)] = 'editModel.isdisplay' id="isdisplay-select-input" name="editModel.isdisplay" class="form-control">
                    <option value="Default">请选择</option>
                    <option value="true">显示</option>
                    <option value="false">不显示</option>
                </select>
            </div>
        </div>
        <div class="form-group row" *ngIf="actionTitle == '添加'">
            <label for="adduser-text-input" class="col-2 col-form-label">作者</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.adduser' id="adduser-text-input" name="editModel.adduser" class="form-control">
            </div>
        </div>
        <div class="form-group row" *ngIf="actionTitle == '编辑'">
            <label for="adduser-text-input" class="col-2 col-form-label">最后修改人</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.lastupdateuser' id="lastupdateuser-text-input" name="editModel.lastupdateuser" class="form-control">
            </div>
        </div>
        <label for="isdisplay-select-input" class="col-3 col-form-label">文章主体</label>
        <textarea class="form-control" rows="3" [(ngModel)] = 'editModel.articlecontent' name="editModel.articlecontent"></textarea>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">返回</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">保存</button>
</div>
