<div [@routerTransition] content="main-section">
    <app-page-header [heading]="'订单查询详情'" [icon]="'fa-table'"></app-page-header>

    <div content="main-content container">
        <div class="mb-5">
            <h2>订单信息</h2>
            <hr>
            <div class="row">
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
            </div>
        </div>


        <div>
            <h2>订单信息</h2>
            <hr>
            <div class="row">
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
                <div class="col-4 row">
                    <div class="col-4">title:</div>
                    <div class="col-8">value</div>
                </div>
            </div>
        </div>
    </div>
</div>

