<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}个人信息</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="submitForm" #submitForm="ngForm">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="name">用户名</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.name' name="editModel.name" type="text" class="form-control" id="name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="phone">手机号</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.phone' name="editModel.phone" type="text" class="form-control" id="phone">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="qq">QQ</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.qq' name="editModel.qq" type="text" class="form-control" id="qq">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="weixin">微信</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.weixin' name="editModel.weixin" type="text" class="form-control" id="weixin">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="email">Email地址</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.email' name="editModel.email" type="text" class="form-control" id="email">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-submit" (click)="confirm()">确认</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">关闭</button>
</div>
