<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}密码</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="submitForm" #submitForm="ngForm">
        <!--信息提示-->
        <div class="form-group row">
            <label class="col-2 col-form-label" for="oldpassword">旧密码</label>
            <div class="col-8">
                <input type="password" [(ngModel)] = 'editModel.oldpassword' name="editModel.oldpassword" class="form-control" id="oldpassword" validationMsg required>
                <div class="form-control-feedback alert" *ngIf="errormsg">
                    <label class="form-control-feedback">{{errormsg}}</label>
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" for="newpassword">新密码</label>
            <div class="col-8">
                <input type="password" [(ngModel)] = 'editModel.newpassword' name="editModel.newpassword" class="form-control" id="newpassword" validationMsg required>
            </div>
        </div>
        <div class="form-group row ">
            <label class="col-2 col-form-label" for="newpassword1">确认密码</label>
            <div class="col-8 ">
                <input type="password" [(ngModel)] = 'newpassword' name="newpassword" class="form-control " id="newpassword1" #again (blur)="compare(again.value)">
                <div class="has-danger " *ngIf="pwd">
                    <label class="form-control-feedback" >两次输入密码不一致</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-submit" (click)="confirm()">确认</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">关闭</button>
</div>
