<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}密码</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <!--信息提示-->
        <div class="form-group row">
            <label class="col-2 col-form-label" for="oldpassword">旧密码</label>
            <div class="col-8">
                <input [(ngModel)] = 'editModel.oldpassword' name="editModel.oldpassword" class="form-control" id="oldpassword" >
            </div>
            <label class="col-2 col-form-label" *ngIf="editModel.code">密码错误</label>
        </div>
        <div class="form-group" *ngIf="errormsg">
            <label class="form-control-feedbackl">{{errormsg}}</label>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="newpassword">新密码</label>
            <div class="col-8">
                <input [(ngModel)] = 'editModel.newpassword' name="editModel.newpassword" class="form-control" id="newpassword" #box (blur)="newPwd(box.value)">
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-feedback" *ngIf="newpwd">新密码不能为空</label>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="newpassword1">确认密码</label>
            <div class="col-8">
                <input [(ngModel)] = 'editModel.newpassword1' name="editModel.newpassword1" class="form-control" id="newpassword1" #again (blur)="compare(again.value)">
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-feedbackl" *ngIf="pwd">两次输入密码不一致</label>
        </div>
    </form>
</div><!---->
<div class="modal-footer">
    <!--<my-file></my-file>-->
    <button type="button" class="btn btn-primary" (click)="confirm()">确认</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">关闭</button>
</div>
