<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}信息</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.name">厂商名</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.name' id="editModel.name" name="editModel.name" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.position">厂商地址</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.position' id="editModel.position" name="editModel.position" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.contactor">联系人</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.contactor' id="editModel.contactor" name="editModel.contactor" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.phone">电话</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.phone' id="editModel.phone" name="editModel.phone" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="editModel.updatetime">更新时间</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.updatetime' id="editModel.updatetime" name="editModel.updatetime" class="form-control" disabled>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">关闭</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('Cross click')">确认</button>
</div>
