<div class="table-responsive">
    <div class="card">
        <div class="card-header" style="background-color: transparent" *ngIf="config.topActions && config.topActions.length>0">
            <button type="button" class="btn btn-primary mr-2" *ngFor="let topBtn of config.topActions" [disabled]="!hasSelected() && !topBtn.allowEmpty" (click)="topAction(topBtn)">{{topBtn.name}}</button>
        </div>
        <div>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th *ngIf="config.topActions && config.topActions.length>0 && !config.radioCheck"><input type="checkbox" [(ngModel)]="allChecked" (change)="checkAll(allChecked)"></th>
                    <th *ngIf="config.radioCheck"></th>
                    <th>序号</th>
                    <th *ngFor="let col of config.column" >
                        {{col.name}}
                    </th>
                    <th class="" *ngIf="config.rowActions && config.rowActions.length > 0">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of fetchedData;let $index = index">
                    <td *ngIf="config.topActions && config.topActions.length>0 && !config.radioCheck"><input class="form-check-inline" type="checkbox" [(ngModel)]="data.checked"></td>
                    <td *ngIf="config.radioCheck"><input type="radio" name="radioValue" [(ngModel)]="radioValue" [value]="data"></td>
                    <td>{{$index+1}}</td>
                    <td *ngFor="let col of config.column" (click)="colAction(col, data)">
                        <span *ngIf="!col.html">{{data[col.key]}}</span>
                        <span *ngIf="col.html" [innerHtml]="col.html(data)"></span>
                    </td>
                    <td *ngIf="config.rowActions && config.rowActions.length > 0">
                        <i class="fa mr-2" [ngClass]="getIcon(rowAct, data)" aria-hidden="true" *ngFor="let rowAct of config.rowActions" (click)="rowAction(rowAct, data)"></i>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                <nav aria-label="Page navigation example" class="mr-3">
                    <ul class="pagination">
                        <li class="page-item" (click)="turnPage(1)" [attr.disabled]="pageParams.pageNumber<=1">
                            <a class="page-link"  aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" [hidden]="!(pageIndex>(pageParams.pageNumber+3>page.totalPages ? page.totalPages-5 : pageParams.pageNumber-3) && pageIndex<(pageParams.pageNumber-3<1?6:pageParams.pageNumber+3))" [class.active]="pageIndex == pageParams.pageNumber" *ngFor="let pageIndex of pageArr" (click)="turnPage(pageIndex)"><a class="page-link" >{{pageIndex}}</a></li>
                        <li class="page-item" (click)="turnPage(page.totalPages)" [attr.disabled]="pageParams.pageNumber>=page.totalPages">
                            <a class="page-link"  aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

</div>
