<div class="table-responsive">
    <div class="card">
        <div class="card-header" style="background-color: transparent">
            <button type="button" class="btn btn-primary">添加</button>
        </div>
        <div>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th *ngFor="let col of config.column" >
                        {{col.name}}
                    </th>
                    <th class="">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of fetchedData">
                    <td><input type="checkbox"></td>
                    <td *ngFor="let col of config.column">{{data[col.key]}}</td>
                    <td>
                        <i [ngClass]="{'fa-trash-o': rowAct.type === 'delete', 'fa-pencil-square-o': rowAct.type==='edit'}" class="fa mr-2" aria-hidden="true" *ngFor="let rowAct of config.rowActions" (click)="rowAction(rowAct, data)"></i>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
