<div [@routerTransition] content="main-section">
    <app-page-header [heading]="'注册有礼管理'" [icon]="'fa-table'"></app-page-header>
    <div class="form-group row">
        <label for="Status-text-input" class="col-2 col-form-label">注册有礼状态</label>
        <div class="col-2">
            <input [(ngModel)] = 'queryModel.Status' id="Status-text-input" register="queryModel.Status" class="form-control" type="text" disabled>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" (click)="open()">开启</button>
            &nbsp;
            <button type="submit" class="btn btn-primary" (click)="close()">关闭</button>
        </div>
    </div>
</div>
