<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}运营商</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <!--<div class="form-group">-->
            <!--<label for="editModel.name">角色名称</label>-->
            <!--<input [(ngModel)] = 'editModel.name' id="editModel.name" name="editModel.name" type="email" class="form-control">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="editModel.desc">角色描述</label>-->
            <!--<textarea [(ngModel)] = 'editModel.desc' id="editModel.desc" name="editModel.desc" class="form-control">-->
            <!--</textarea>-->
        <!--</div>-->
        <div class="form-group row">
            <label class="col-2 col-form-label">厂商ID</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.id' name="editModel.id" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">厂商姓名</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.name' name="editModel.name" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">厂商地址</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.address' name="editModel.address" class="form-control">
            </div>
        </div>
        //添加省市区级联选择
        <div class="form-group row">
            <label class="col-2 col-form-label">联系人</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.contact' name="editModel.contact" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">联系人电话</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.phonenumber' name="editModel.phonenumber" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">关闭</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">确认</button>
</div>
