<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}订单</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group row">
            <label for="editModel.orderid" class="col-2 col-form-label">订单号</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.orderid' id="editModel.orderid" name="editModel.orderid" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.orderstate"class="col-2 col-form-label">订单状态</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.orderstate' id="editModel.orderstate" name="editModel.orderstate" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.chargetime" class="col-2 col-form-label">充电时长</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.chargetime' id="editModel.chargetime" name="editModel.chargetime" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.power" class="col-2 col-form-label">总电量</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.power' id="editModel.power" name="editModel.power" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.price" class="col-2 col-form-label">总价格</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.price' id="editModel.price" name="editModel.price" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.endtime" class="col-2 col-form-label">完成时间</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.endtime' id="editModel.endtime" name="editModel.endtime" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.pay" class="col-2 col-form-label">支付方式</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.pay' id="editModel.pay" name="editModel.pay" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.user" class="col-2 col-form-label">用户</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.user' id="editModel.user" name="editModel.user" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="editModel.gunid" class="col-2 col-form-label">枪ID</label>
            <div class="col-10">
                <input [(ngModel)] = 'editModel.gunid' id="editModel.gunid" name="editModel.gunid" type="text" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">关闭</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">确认</button>
</div>

