<div class="modal-header">
    <h4 class="modal-title">用户操作记录查询</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="用户站点操作记录表">
            <ng-template ngbTabContent>
                <div class="mt-2">
                    <app-datagrid [config]="operationLogConfig"></app-datagrid>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="登陆登陆记录表">
            <ng-template ngbTabContent>
                <div class="mt-2">
                    <app-datagrid [config]="loginLogConfig"></app-datagrid>
                </div>

            </ng-template>
        </ngb-tab>
        <ngb-tab title="用户充电桩记录表">
            <ng-template ngbTabContent>
                <div class="mt-2">
                    <app-datagrid [config]="rechargeLogConfig"></app-datagrid>
                </div>

            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

