<div [@routerTransition] content="main-section">
    <app-page-header [heading]="'订单查询'" [icon]="'fa-table'"></app-page-header>

    <div content="main-content container">
        <div class="query-section row breadcrumb mx-xl-0">
            <div class="col-9">
                <div class="row mb-3">
                    <div class="col-4">
                        <div class="row">
                            <label for="queryModel.orderid" class="col-4 col-form-label">订单编号</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="queryModel.orderid" [(ngModel)]="queryModel.orderid" name="queryModel.orderid">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="queryModel.icid" class="col-4 col-form-label">IC卡</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="queryModel.icid" [(ngModel)]="queryModel.icid" name="queryModel.icid">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="queryModel.user" class="col-4 col-form-label">用户名称</label>
                            <div class="col-8">
                                <input class="form-control" type="text" id="queryModel.user" [(ngModel)]="queryModel.user" name="queryModelv.user">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <div class="row">
                            <label for="station" class="col-4 col-form-label">充电站</label>
                            <div class="col-8">
                                <select id="station" [(ngModel)]="queryModel.station" name="queryModel.station" class="form-control">
                                    <option value="">请选择</option>
                                    <option value=true>正常</option>
                                    <option value=false>锁定</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="site" class="col-4 col-form-label">充电桩</label>
                            <div class="col-8">
                                <select id="site" [(ngModel)]="queryModel.site" class="form-control" name="queryModel.site">
                                    <option value="">请选择</option>
                                    <option value=true>正常</option>
                                    <option value=false>锁定</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="gun" class="col-4 col-form-label">充电枪</label>
                            <div class="col-8">
                                <select id="gun" [(ngModel)]="queryModel.gun" class="form-control" name="queryModel.gun">
                                    <option value="">请选择</option>
                                    <option value=true>正常</option>
                                    <option value=false>锁定</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <div class="row">
                            <label for="queryModel.starttime" class="col-4 col-form-label">开始时间</label>
                            <div class="col-8">
                                <input class="form-control" type="date" id="queryModel.starttime" [(ngModel)]="queryModel.starttime" name="queryModel.starttime">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="queryModel.endtime" class="col-4 col-form-label">结束时间</label>
                            <div class="col-8">
                                <input class="form-control" type="date" id="queryModel.endtime" [(ngModel)]="queryModel.endtime" name="queryModel.endtime">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="state-input" class="col-4 col-form-label">订单状态</label>
                            <div class="col-8">
                                <select id="state-input" [(ngModel)]="queryModel.orderstate" class="form-control" name="queryModel.ordrstate">
                                    <option value="">请选择</option>
                                    <option value=true>正常</option>
                                    <option value=false>锁定</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" (click)="refreshGrid()">查询</button>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" (click)="blankGrid()">清空</button>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" (click)="exportGrid()">导出</button>
                    </div>
                </div>
            </div>

        </div>

        <app-datagrid [config]="config"></app-datagrid>

    </div>
</div>

