<div class="modal-header">
    <h4 class="modal-title">{{actionTitle}}站点数据</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form-group">
        <div class="form-group row">
            <label for="time-text-input" class="col-2 col-form-label">充电次数</label>
            <div class="col-10">
                <div class="form-control" value="Artisanal kale" id="time-text-input">n次</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="number-text-input" class="col-2 col-form-label">充电量</label>
            <div class="col-10">
                <div class="form-control" value="Artisanal kale" id="number-text-input">nkwh</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="trouble-text-input" class="col-2 col-form-label">故障数</label>
            <div class="col-10">
                <div class="form-control" value="Artisanal kale" id="trouble-text-input">n个</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="user-text-input" class="col-2 col-form-label">用户数</label>
            <div class="col-10">
                <div class="form-control" value="Artisanal kale" id="user-text-input">n个</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="date-text-input" class="col-2 col-form-label">运行时间</label>
            <div class="col-10">
                <div class="form-control" value="Artisanal kale" id="date-text-input">*天*时*分*秒</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('Cross click')">确认</button>
</div>
