<div [@routerTransition] content="main-section">
    <app-page-header [heading]="'订单分析'" [icon]="'fa-table'"></app-page-header>

    <div content="main-content container">

        <div class="modal-body">
            <ngb-tabset [destroyOnHide]="false" (tabChange)="beforeChange($event)">
                <ngb-tab title="订单量统计" id="orderstatistics">
                    <ng-template ngbTabContent>
                        <div class="query-section row breadcrumb mx-xl-0">
                            <div class="col-9">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <div class="row">
                                            <label class="col-4 col-form-label">对比方式</label>
                                            <div class="col-4">
                                                <button class="btn btn-primary" disabled>运营商对比</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary">充电站对比</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <label for="orderstartdate-date-input" class="col-4 col-form-label">时间段</label>
                                            <div class="col-8">
                                                <input class="form-control" type="date" id="orderstartdate-date-input" [(ngModel)]="chartObj.starttime" name="chartObj.starttime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <label for="orderenddate-date-input" class="col-4 col-form-label">至</label>
                                            <div class="col-8">
                                                <input class="form-control" type="date" id="orderenddate-date-input" [(ngModel)]="chartObj.endtime" name="chartObj.endtime">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <label for="xxx-checkbox-input" class="col-2 col-form-label">充电站</label>
                                            <div class="col-10" id="xxx-checkbox-input">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="chartObj.site1" [(ngModel)]="chartObj.site1" value="site1"> 站点1
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="chartObj.site2" [(ngModel)]="chartObj.site2" value="site2"> 站点2
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline ">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="chartObj.site3" [(ngModel)]="chartObj.site3" value="site3" > 站点3
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary" (click)="refreshGridOrderC()">查询</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary" (click)="orderclear()">清空</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="query-section row breadcrumb mx-xl-0">
                            <div class="col-9">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <div class="row">
                                            <button class="btn btn-primary" (click)="year()">年</button>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <button class="btn btn-primary" (click)="month()">月</button>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <button class="btn btn-primary" (click)="day()">日</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-md-6">
                                <div style="display: block;">
                                    <canvas baseChart width="300" height="300"
                                            [datasets]="lineArray"
                                            [labels]="lineLabelArray"
                                            [options]="lineChartOptions"
                                            [colors]="lineChartColors"
                                            [legend]="lineChartLegend"
                                            [chartType]="lineChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"
                                         ></canvas>
                                </div>
                            </div>
                        </div>



                        <div class="mt-2">
                            <app-datagrid #orderCount [config]="orderCConfig"></app-datagrid>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="充电量统计" id="chargestatistics">
                    <ng-template ngbTabContent>
                        <div class="query-section row breadcrumb mx-xl-0">
                            <div class="col-9">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <div class="row">
                                            <label class="col-4 col-form-label">对比方式</label>
                                            <div class="col-4">
                                                <button class="btn btn-primary" disabled>运营商对比</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary">充电站对比</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <label for="chargingstartdate-date-input" class="col-4 col-form-label">时间段</label>
                                            <div class="col-8">
                                                <input class="form-control" type="date" id="chargingstartdate-date-input" [(ngModel)]="queryModel.chargingstartdate" name="queryModel.chargingstartdate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <label for="chargingenddate-date-input" class="col-4 col-form-label">至</label>
                                            <div class="col-8">
                                                <input class="form-control" type="date" id="chargingenddate-date-input" [(ngModel)]="queryModel.chargingenddate" name="queryModel.chargingenddate">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <label for="yyy-checkbox-input" class="col-2 col-form-label">充电站</label>
                                            <div class="col-10" id="yyy-checkbox-input">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="queryModel.site1" [(ngModel)]="queryModel.site1" value="queryModel.site1"> 站点1
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="queryModel.site2" [(ngModel)]="queryModel.site2" value="queryModel.site2"> 站点2
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline ">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="queryModel.site3" [(ngModel)]="queryModel.site3" value="queryModel.site3" > 站点3
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary" (click)="refreshGridChargingC()">查询</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary" (click)="chargingclear()">清空</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <app-datagrid #chargingCount [config]="chargingCConfig"></app-datagrid>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="收支统计" id="moneystatistics">
                    <ng-template ngbTabContent>
                        <div class="query-section row breadcrumb mx-xl-0">
                            <div class="col-9">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <div class="row">
                                            <label class="col-4 col-form-label">对比方式</label>
                                            <div class="col-4">
                                                <button class="btn btn-primary" disabled>运营商对比</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary">充电站对比</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <label for="moneystartdate-date-input" class="col-4 col-form-label">时间段</label>
                                            <div class="col-8">
                                                <input class="form-control" type="date" id="moneystartdate-date-input" [(ngModel)]="queryModel.moneystartdate" name="queryModel.moneystartdate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <label for="moneyenddate-date-input" class="col-4 col-form-label">至</label>
                                            <div class="col-8">
                                                <input class="form-control" type="date" id="moneyenddate-date-input" [(ngModel)]="queryModel.moneyenddate" name="queryModel.moneyenddate">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <label for="zzz-checkbox-input" class="col-2 col-form-label">充电站</label>
                                            <div class="col-10" id="zzz-checkbox-input">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="queryModel.site1" [(ngModel)]="queryModel.site1" value="queryModel.site1"> 站点1
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="queryModel.site2" [(ngModel)]="queryModel.site2" value="queryModel.site2"> 站点2
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline ">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="queryModel.site3" [(ngModel)]="queryModel.site3" value="queryModel.site3"> 站点3
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary" (click)="refreshGridMoneyC()">查询</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary" (click)="moneyclear()">清空</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <app-datagrid #moneyCount [config]="moneyCConfig"></app-datagrid>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
